<!DOCTYPE html>
<html >
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="angular.min.js"></script>
    <script src="Script1.js"></script>
    <link href="StyleSheet1.css" rel="stylesheet" />
</head>
<body ng-app="mymodule">
<div ng-controller="myController">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Likes</th>
            <th>Dislikes</th>
            <th>Like/Dislike</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="technology in technologies">
            <td>{{technology.name}}</td>
            <td style="text-align: center">{{technology.likes}}</td>
            <td style="text-align: center">{{technology.dislikes}}</td>
            <td>
                <input type ="button" value="like" ng-click="incrementLikes(technology)"/>
                <input type ="button" value="dislike" ng-click ="incrementDislikes(technology)"/>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
